<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
  <meta charset="UTF-8">
  <title>Add a student</title>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+V+DTqx6sSiI9OhFJ7SJo/HiipBk8W99U/8A8KpBilWah3t"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
          integrity="sha384-oNlnrgZR+pLJjcPOF0J3r/40JZl70Xkh1KTQQ5tMOm7f5J2qz0wn4j2ysFfIeDk"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <style>
    .pre-scrollable {
      height: 500px;
      overflow-y: scroll;
    }

    h1 {
      text-align: center;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <img th:src="@{/logo.png}" alt="" width="50"
                                           height="50"/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{index}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Student</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" th:href="@{/addStudent}">Add Student</a></li>
            <li><a class="dropdown-item" th:href="@{index}">Search</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
<section layout:fragment="content">
  <div class="col-md-6 offset-3">
    <form method="post" th:action="@{save}">
      <div>
        <label>Name</label>
        <input class="form-control" type="text" name="name"
               th:value="${student.name}">
        <span th:errors="${student.name}"></span>
      </div>
      <div>
        <label>Date of Birth</label>
        <input class="form-control" type="date" name="dob"
               th:value="${student.dob}">
        <span th:errors="${student.dob}"></span>
      </div>
      <div>
        <label>Passed</label>
        <input type="checkbox" name="passed" th:checked="${student.passed}">
        <span th:errors="${student.passed}"></span>
      </div>
      <div>
        <label>GPA</label>
        <input class="form-control" type="text" name="gpa"
               th:value="${student.gpa}">
        <span th:errors="${student.gpa}"></span>
      </div>
      <button type="submit" class="btn-primary" th:href="@{/index}" >Save</button>
    </form>
  </div>
</section>

</body>
</html>