<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1"
>
<head>
    <meta charset="UTF-8">
    <title>Practice 2</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+V+DTqx6sSiI9OhFJ7SJo/HiipBk8W99U/8A8KpBilWah3t"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oNlnrgZR+pLJjcPOF0J3r/40JZl70Xkh1KTQQ5tMOm7f5J2qz0wn4j2ysFfIeDk"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        .pre-scrollable {
            height: 500px;
            overflow-y: scroll;
        }

        h1 {
            text-align: center;
        }
        #mes {
            text-align:center;
            background-color: cyan;

        }
    </style>
</head>
<body>
<script>
    document.getElementById("mes").innerHTML = "";
</script>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"> <img th:src="@{/logo.png}" alt="" width="50"
                                               height="50"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{index}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Student</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/addStudent}">Add Student</a></li>
                        <li><a class="dropdown-item" th:href="@{index}">Search</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div layout:fragment="content">
    <h1>Hello Worlds</h1>

    <!--    <h2 th:text="${errorMessage}">test</h2> -->
    <h1 th:text="${errorMessage}" id="mes">Test</h1>
    <br>
    <form>
        <label>Key Word</label>
        <input type="text" name="keyword">
        <button type="submit" class="btn-primary">Search</button>
        <button type="submit" class="btn-primary">See All</button>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th><th>Name</th><th>Date of birth</th><th>Pass</th><th>GPA</th><th>Edit</th><th>Cancel</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p:${listStudents}">
            <td th:text="${p.getId()}"></td>
            <td th:text="${p.getName()}"></td>
            <td th:text="${p.getDob()}"></td>
            <td th:text="${p.passed}"></td>
            <td th:text="${p.getGpa()}"></td>
            <td><a th:href="@{'edit/' + ${p.getId()}}"> Edit</a></td>

            <td>
                <form th:action="@{'delete/'+${p.getId()}}" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>

    </table>
</div>
</body>
<script th:inline="javascript">
    var u = [[${session.a}]];
    if(u==1){
        alert('One record added');
    }
</script>
<script th:inline="javascript">
    var u = [[${session.e}]];
    if(u==2){
        alert('One record edited');
    }
</script>
</html>
